.list-patients {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}

.list-patients-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list-patients .cell-action{
  display: flex;
  gap: 10px;
}

.list-patients h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.ant-table-cell {
  font-family: "Quicksand", sans-serif;
}

.list-patients {
  // Target the pagination container
  .ant-pagination.ant-table-pagination {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    
    // Text hiển thị bên trái
    .ant-pagination-total-text {
      flex: 1 !important;
      order: -1 !important;
      text-align: left !important;
    }
    
    // Các controls pagination bên phải
    .ant-pagination-prev,
    .ant-pagination-item,
    .ant-pagination-next,
    .ant-pagination-options {
      order: 1 !important;
    }
  }
}