.list-patients {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}

.list-patients-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list-patients .cell-action{
  display: flex;
  gap: 10px;
}

.list-patients h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.ant-table-cell {
  font-family: "Quicksand", sans-serif;
}

.custom-table-pagination {
  .ant-pagination-total-text {
    margin-right: auto;
  }
 }